
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Team Section -->
<div id="team">
    <div class="container">
        <div id="row">
            <div class="col-md-6">
                <div class="col-md-10 col-md-offset-1">
                    <div class="section-title">
                    </div>
                    <p>  HUTECH CANTEEN sẽ phục vụ liên tục 7 ngày trong tuần với hiệu suất phục vụ tối đa khoảng 80 người cùng một thời điểm. Nội thất HUTECH CANTEEN được thiết kế bắt mắt, thoáng mát, sạch sẽ như một nhà hàng thu nhỏ với đầy đủ các tiện nghi từ khu vực nhà bếp, khu trưng bày thức uống, bàn ghế, menu cùng các tiện ích và vật dụng trang trí khác. HUTECH CANTEEN phục vụ đa dạng các món ăn, thức uống từ món mặn, món xào, món canh, đến tráng miệng và thức uống do đầu bếp nhiều năm kinh nghiệm đứng bếp. Đặc biệt, thực đơn liên tục được cập nhật và thay đổi nhằm mang đến nhiều lựa chọn cho quý thầy cô..</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="team-img">
                    <img src="~/Content/img/daubep.jpg" alt="..." />
                </div>
            </div>
        </div>
        <div id="row">
            <div class="col-md-6">
                <div class="col-md-10 col-md-offset-1">
                    <div class="section-title">
                    </div>
                    <p> Nhân viên của cửa hàng được nhận xét là chuyên nghiệp, hoà đồng, không gian thì thân thiện, sản phẩm đa dạng và chất lượng. Với giá cả hợp lý, và thức ăn được đảm bảo vệ sinh an toàn thực phẩm. .</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="team-img">
                    <img src="~/ContentTEM/images/IMG_8139.jpg" alt="..." />
                </div>
            </div>
        </div>

    </div>
</div>



